.about-me {
    user-select: none;
}

.about-me .stylish-container {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.about-me h2 {
    color: var(--colorful-lite);
    
}

.about-me-stuff {
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.about-me-container {
    margin-left: 5%;
    width: 85%;
    opacity: 0;
}

.about-me-container ul {
    display: flex;
    flex-wrap: wrap;
    max-height: 50%; 
    margin: 0;
    padding-left: 1vw;
}

.about-me-container li {
    list-style: none; 
    margin: 0 1vw;

}

.about-me-container p {
    margin-left: 2vw;

}

@media (max-width: 1100px) {
    .about-me {
        width: 90vw;
        margin: 0 auto;
        margin-top: 8vh;
        align-items: center;
    }

    .about-me .stylish-container {
        justify-content: center;
    }

    .about-me-stuff {
        display: block;
        height: 100%;
        justify-content: center;
    }
    
    .about-me-container {
        opacity: 1;
        width: 90%;
    }

    .about-me h2 {
        text-align: center;
    }

    .about-me-container ul {
        justify-content: center;
        align-items: center;
    }

    .about-me-container p {
        margin: 0;
        text-align: justify;
    }
}


@media (min-width: 1101px) {
    .about-me.item-enter .about-me-container {
        opacity: 1;
        transform: translateX(100vw);
    }

    .about-me.item-enter-active .about-me-container {
        transform: translateX(0);
        transition: transform .5s;
        transition-timing-function: cubic-bezier(0,.88,.43,.99);
    }

    .about-me.item-enter-active .about-me-container:nth-child(1) {
        transition-delay: 1s;
    }

    .about-me.item-enter-active .about-me-container:nth-child(2) {
        transition-delay: 1.15s;
    }

    .about-me.item-enter-active .about-me-container:nth-child(3) {
        transition-delay: 1.3s;
    }

    .about-me.item-enter-done .about-me-container {
        opacity: 1;
    }

    .about-me.item-exit .about-me-container {
        visibility: visible;
        opacity: 1;
    }
    
    .about-me.item-exit-active .about-me-container {
        transition: transform .5s;
        transform: translateX(100vw);
    }

    .about-me.item-exit-active .about-me-container:nth-child(1) {
        transition-delay: .4s;
    }

    .about-me.item-exit-active .about-me-container:nth-child(2) {
        transition-delay: .5s;
    }

    .about-me.item-exit-active .about-me-container:nth-child(3) {
        transition-delay: .6s;
    }

    .about-me.item-appear .about-me-container {
        opacity: 1;
        transform: translateX(100vw);
    }

    .about-me.item-appear-active .about-me-container {
        transform: translateX(0);
        transition: transform .5s;
        transition-timing-function: cubic-bezier(0,.88,.43,.99);
    }

    .about-me.item-appear-active .about-me-container:nth-child(1) {
        transition-delay: .2s;
    }

    .about-me.item-appear-active .about-me-container:nth-child(2) {
        transition-delay: .35s;
    }

    .about-me.item-appear-active .about-me-container:nth-child(3) {
        transition-delay: .5s;
    }
}