.about-me {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    transition: 1s;
}

.about-me h2 {
    color: var(--colorful-lite);

}

.about-me-stuff {
    z-index: 2;
    margin-top: 20vh;
    margin-left: 15%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

.about-me-container ul {
    display: flex;
    flex-wrap: wrap;
    max-height: 50%; 
    margin: 0;
    padding-left: 1rem;
}

.about-me-container li {
    list-style: none; 
    margin: 0 1rem;

}

.about-me-container p {
    margin-left: 2rem;

}

@media (max-width: 800px) {
    .about-me {
        width: 90vw;
        margin: 0 auto;
        margin-top: 8vh;
        align-items: center;
    }

    .about-me-stuff {
        max-width: 90%;
        margin: 0 auto;
        margin-top: 10vh;
    }

    .about-me h2 {
        text-align: center;
    }

    .about-me-container ul {
        justify-content: center;
        align-items: center;
    }

    .about-me-container p {
        margin: 0;
        text-align: justify;
    }
}


@media (min-width: 801px) {
    .about-me.item-enter .about-me-container {
        opacity: 0;
        transform: translateX(100%);
    }

    .about-me.item-enter-active .about-me-container {
        opacity: 1;
        transform: translateX(0);
        transition: opacity .9s, transform .5s;
        transition-timing-function: cubic-bezier(0,.88,.43,.99);
    }

    .about-me.item-enter-active .about-me-container:nth-child(1) {
        transition-delay: .2s;
    }

    .about-me.item-enter-active .about-me-container:nth-child(2) {
        transition-delay: .35s;
    }

    .about-me.item-enter-active .about-me-container:nth-child(3) {
        transition-delay: .5s;
    }

    .about-me.item-exit .about-me-container {
        opacity: 1;
    }

    .about-me.item-exit-active .about-me-container {
        opacity: 0;
        transform: translateX(100%);
        transition: .15s;
    }

    .about-me.item-exit-active .about-me-container:nth-child(1) {
        transition-delay: 0;
    }

    .about-me.item-exit-active .about-me-container:nth-child(2) {
        transition-delay: .1s;
    }

    .about-me.item-exit-active .about-me-container:nth-child(3) {
        transition-delay: .2s;
    }

    .about-me.item-appear .about-me-container {
        opacity: 0;
        transform: translateX(100%);
    }

    .about-me.item-appear-active .about-me-container {
        opacity: 1;
        transform: translateX(0);
        transition: opacity .9s, transform .5s;
        transition-timing-function: cubic-bezier(0,.88,.43,.99);
    }

    .about-me.item-appear-active .about-me-container:nth-child(1) {
        transition-delay: .2s;
    }

    .about-me.item-appear-active .about-me-container:nth-child(2) {
        transition-delay: .35s;
    }

    .about-me.item-appear-active .about-me-container:nth-child(3) {
        transition-delay: .5s;
    }
}