.contact-page .stylish-container {
    pointer-events: auto;
    align-items: flex-start;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    /* opacity: 0; */
    color: white;
    padding: 1vw;
    width: 23vw;
    height: 100%;
}

.contact-form * {
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.contact-form h1 {
    color: var(--colorful-lite);
    font-family: "Dancing Script", cursive;
    margin: 0 auto;
    margin-left: 1vw;
}

.contact-form input {
    font-size: 0.9vw;
    color: white;
    /* outline: none; */
    border: thin solid transparent;
    padding: 0.7vw;
    display: block;
    margin-top: 0.9vw;
    background-color: var(--medium);
    width: 100%;
    height: 2vw;
}

.contact-form input:disabled {
    opacity: 0.4;
}

.contact-form textarea:disabled {
    opacity: 0.4;
}

.contact-form textarea:disabled::placeholder {
    color: rgb(255, 0, 0);
    text-align: center;
    letter-spacing: 0.5vw;
    line-height: 10vw;
    font-weight: bold;
}

.contact-form textarea {
    font-size: 0.9vw;
    /* outline: none; */
    box-sizing: border-box;
    border: thin solid transparent;
    color: white;
    background-color: var(--medium);
    width: 100%;
    height: 55%;
    margin: 0.9vw auto;
    padding: 0.7vw;
    resize: none;
}

.contact-form *::placeholder {
    color: var(--gray);
    /* opacity: .7; */
    opacity: 0;
}

.contact-form button {
    cursor: pointer;
    display: block;
    font-family: "Dancing Script", cursive;
    color: var(--dark);
    border: 2px solid transparent;
    background-color: var(--colorful-lite);
    font-weight: bold;
    letter-spacing: 0.2vw;
    transition: color 0.1s, background-color 0.1s;
    transition-timing-function: ease-in;
    padding: 0.3vw;
    width: 7vw;
    height: 2vw;
    line-height: 1vw;
    text-shadow: 0 0.5px 0.3px var(--dark);
    box-shadow: 0 0 1px var(--colorful-shadow);
}

.contact-form button.disabled {
    opacity: 0.3;
    pointer-events: none;
    box-shadow: none;
}

.contact-form button:active {
    transform: scale(0.98);
    background-color: var(--colorful-lite);
    border: 2px solid var(--colorful-medium);
    color: var(--medium);
    text-shadow: 0 0.5px 0.3px var(--dark);
    transition: color 0.1s, background-color 0.1;
}

input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

.contact-form .valid {
    border-bottom-color: var(--colorful-lite);
}

.contact-form .invalid {
    border-bottom-color: #fc0853;
}

.contact-form .message {
    display: block;
    text-align: center;
    min-width: 100%;
    margin: 1rem auto;
    display: none;
}

.contact-info {
    /* opacity: 0; */
    margin-top: 5vw;
    width: 35%;
    align-self: flex-start;
    margin-bottom: 9vw;
}

.contact-info h2 {
    font-size: 1.6vw;
    color: var(--colorful-lite);
}

.contact-info div {
    margin-left: 1vw;
}

.contact-info a {
    font-size: 1vw;
}

.contact-info p {
    font-size: 1.1vw;
}

.contact-info hr {
    visibility: visible;
    border: 0;
    height: 1px;
    background: var(--medium);
    background-image: linear-gradient(to right, var(--medium), var(--gray), var(--medium));
    width: 120%;
    margin-left: -25%;
}

.contact-info div a {
    color: var(--colorful-lite);
    text-decoration: underline;
    font-family: "Amita", cursive;
    font-style: italic;
    text-shadow: 0 0 0.5rem var(--shadow);
    transition: color 0.1s;
    text-shadow: 0 0 2px var(--colorful-shadow);
}

.contact-info div a:hover {
    text-shadow: 0 0 0.1rem white;
    transition: text-shadow 0.5s;
}

@keyframes autofill {
    to {
        color: white;
        background: var(--medium);
    }
}

@media (max-width: 1300px) {
    .contact-page {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100vw;
        margin: 0;
        max-height: 100vh;
        padding: 0;
        align-items: center;
    }

    .contact-page .stylish-container {
        justify-content: space-between;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: transparent;
        padding: 5vw;
        min-height: 100vh;
        margin: 0 auto;
        opacity: 1;
        min-width: 100vw;
    }

    .contact-form h1 {
        margin: 0;
        text-align: center;
    }

    .contact-form input {
        border-radius: 1vw;
        font-size: 4vw;
        background-color: var(--dark);
        padding: 2vw;
        margin-top: 1rem;
        height: 10vw;
    }

    .contact-form textarea {
        border-radius: 1vw;
        background-color: var(--dark);
        margin: 1rem auto;
        height: 100%;
        max-height: 100%;
        font-size: 4vw;
        padding: 2vw;
    }

    .contact-form button {
        margin: 0 auto;
        width: 100%;
        font-size: 5vw;
        height: 15vw;
    }

    .contact-form .message {
        display: none;
    }

    .contact-info {
        opacity: 1;
        width: 100%;
        margin: 5vh auto;
        margin-bottom: 0;
    }

    .contact-info div {
        margin: 0;
        margin-bottom: 2rem;
    }

    .contact-info * {
        text-align: center;
    }

    .contact-info h2 {
        font-size: 6vw;
    }

    .contact-info p {
        font-size: 4vw;
    }

    .contact-info a {
        font-size: 3vw;
    }

    .contact-info hr {
        display: none;
    }

    @keyframes autofill {
        to {
            color: white;
            background: var(--dark);
        }
    }

    .contact-page.item-enter-done .contact-form input::placeholder,
    .contact-page.item-enter-done .contact-form textarea::placeholder,
    .contact-page.item-appear-active .contact-form input::placeholder,
    .contact-page.item-appear-active .contact-form textarea::placeholder {
        opacity: 0.7;
        transition: opacity 0.2s;
        transition-delay: 0s;
    }
}

@media (hover: hover) {
    .contact-form button:hover {
        background-color: var(--colorful-bright);
        color: var(--medium);
    }
}

@media (min-width: 1301px) {
    .contact-page.item-enter .contact-form {
        opacity: 1;
        transform: translateX(100vw);
    }

    .contact-page.item-enter-active .contact-form {
        transform: translateX(0);
        transition: transform 0.5s;
        transition-delay: 1s;
        transition-timing-function: cubic-bezier(0, 0.88, 0.43, 0.99);
    }

    .contact-page.item-enter-done .contact-form input::placeholder,
    .contact-page.item-enter-done .contact-form textarea::placeholder {
        opacity: 0.7;
        transition: opacity 0.5s;
        transition-delay: 0.1s;
    }

    .contact-page.item-enter-done .contact-form {
        opacity: 1;
    }

    .contact-page.item-exit .contact-form {
        opacity: 1;
        visibility: visible;
    }

    .contact-page.item-exit-active .contact-form {
        transform: translateX(100vw);
        transition: transform 0.5s;
        transition-delay: 0.5s;
    }

    .contact-page.item-exit .contact-form input {
        opacity: 0.7;
        transition: opacity 0s;
        transition-delay: 0s;
    }

    .contact-page.item-exit .contact-form textarea {
        opacity: 0.7;
        transition: opacity 0s;
        transition-delay: 0s;
    }

    .contact-page.item-exit .contact-form input::placeholder,
    .contact-page.item-exit .contact-form textarea::placeholder {
        opacity: 0;
        transition: opacity 0.3s;
        transition-delay: 0s;
    }

    .contact-page.item-enter .contact-info {
        transform: translateX(100vw);
        opacity: 1;
    }

    .contact-page.item-enter-active .contact-info {
        transform: translateX(0);
        transition: transform 0.5s;
        transition-delay: 1.15s;
        transition-timing-function: cubic-bezier(0, 0.88, 0.43, 0.99);
    }

    .contact-page.item-enter-done .contact-info {
        opacity: 1;
    }

    .contact-page.item-exit .contact-info {
        opacity: 1;
        visibility: visible;
    }

    .contact-page.item-exit-active .contact-info {
        transform: translateX(100vw);
        transition: transform 0.5s;
        transition-delay: 0.4s;
    }

    .contact-page.item-appear .contact-form {
        opacity: 1;
        transform: translateX(100vw);
    }

    .contact-page.item-appear-active .contact-form {
        transform: translateX(0);
        transition: transform 0.5s;
        transition-delay: 0.2s;
        transition-timing-function: cubic-bezier(0, 0.88, 0.43, 0.99);
    }

    .contact-page.item-appear .contact-info {
        transform: translateX(100vw);
        opacity: 1;
    }

    .contact-page.item-appear-active .contact-info {
        transform: translateX(0);
        transition: transform 0.5s;
        transition-delay: 0.35s;
        transition-timing-function: cubic-bezier(0, 0.88, 0.43, 0.99);
    }
}

@media (max-height: 450px) {
    .contact-form {
        max-width: 80vw;
        max-height: 100vh;
        margin: 0 auto;
        padding: 1vw;
    }

    .contact-form h1 {
        margin: 2vw auto;
    }

    .contact-form input,
    .contact-form textarea,
    .contact-form button {
        margin: 1vw auto;
    }

    .contact-form .message {
        display: none;
    }

    .contact-form button {
        height: 30vw;
    }
}
