.email {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    /* margin-left: 10rem;
    margin-top: 10%; */
    width: 90vw;
    /* max-height: 80%; */
    height: 100vh;
    margin: 0 auto;
  }

.contact-form {
    color: white;
    max-width: 100%;
    box-shadow: 3px 3px 7px var(--dark);
    padding: 1rem;
    width: 20rem;
    background-color: var(--dark);
    margin: 0 5vw;
}

.contact-form * {
    border-radius: 3px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif   
}

.contact-form h1 {
    color: var(--colorful-lite);
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    margin-left: 1rem;
}

.contact-form input {
    color: white;
    outline: none;
    border: thin solid transparent;
    padding: .7rem;
    display: block;
    margin-top: 1rem;
    background-color: var(--lite);
    width: 100%;
    height: 2rem;
}

.contact-form textarea {
    outline: none;
    border: thin solid transparent;
    color: white;
    background-color: var(--lite);
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 15vh;
    height: 25vh;
    max-height: 45vh;
    margin: 1rem auto;
    padding: .7rem;
}

.contact-form *::placeholder {
    color: var(--gray);
    opacity: .7;
}

.contact-form button {
    font-family: 'Dancing Script', cursive;
    text-shadow: .8px 0 .5px var(--dark);
    color: var(--lite);
    border: 2px solid transparent;
    border-radius: 3px;
    background-color: var(--colorful-dark);
    font-weight: bold;
    letter-spacing: 2px;
    transition: .2s;
    padding: .3rem;
    width: 100px;
    float: left;
    outline: none;
}

.contact-form button:active {
    background-color: var(--colorful-lite);
    border: 2px solid var(--colorful-dark);
    color: var(--lite);
}
  
input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

.contact-form .valid {
    border-color: rgb(0, 156, 0);
}

.contact-form .invalid {
    border-color: rgb(165, 0, 0);
}

.contact-form .message {
    float: right;
    min-height: 1rem;
    margin-top: .5rem;
}

.contact-info {
    /* margin: 0;
    margin-right: 40vh; */
    margin: 0 5vw;
}

.contact-info h2 {
    font-size: 1.5rem;
    color: var(--colorful-lite);
}

.contact-info div {
    margin-left: 1rem;
}

.contact-info div * {
    font-size: 1.2rem;
}

.contact-info div a {
    color: var(--colorful-lite);
    text-decoration: underline;
    text-shadow: 0 0 1px white;
}

.contact-info hr {
    visibility: visible;
    border: 0;
    height: 1px;
    background: var(--lite);
    background-image: linear-gradient(to right, var(--lite), var(--gray), var(--lite));
    width: 150%;
    margin-left: -25%;
}

@keyframes autofill {
    to {
      color: white;
      background: var(--lite);
    }
  }

@media (max-width: 700px) {
    .email {
        width: 100vw;
        margin: 0;
        max-height: 100vh;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: transparent;
        padding: 1rem;
        padding-top: 10%;
        height: 100vh;
        box-shadow: none;
        margin: 0 auto;
    }
    
    .contact-form h1 {
        margin: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    .contact-form input {
        background-color: var(--dark);
        margin-top: 1rem;
    }
    
    .contact-form textArea {
        background-color: var(--dark);
        margin: 1rem auto;
        height: 100%;
        max-height: 100%;
    }

    .contact-form button {
        margin: 0 auto;    
    }

    .contact-form .message {
        visibility: hidden;
    }

    .contact-info {
        /* width: 50%; */
        margin: 0 auto;
    }

    .contact-info div {
        margin: 0;
        margin-bottom: 2rem;
    }

    .contact-info * {
        text-align: center;
        margin: .5rem auto;
    }

    .contact-info hr {
        visibility: visible;
        border: 0;
        height: 1px;
        background: var(--lite);
        background-image: linear-gradient(to right, var(--lite), var(--gray), var(--lite));
        margin-left: 0;
        width: 100%;
    }

    @keyframes autofill {
        to {
          color: white;
          background: var(--dark);
        }
    }
}

@media ( hover: hover ) {
    .contact-form button:hover {
        background-color: var(--colorful-lite);
        border: 2px solid var(--colorful-dark);
        color: var(--lite);
    }
}

@media (max-height: 400px) {
    .contact-form {
        max-width: 80vw;
        margin: 0 auto;
        padding: .5rem;
    }
    .contact-form h1 {
        font-size: 1.5rem;
    }

    .contact-form input, .contact-form textArea, .contact-form button {
        margin: .2rem auto;
    }

    .contact-form .message {
        display: none;
    }
}