.contact-page .stylish-container {
    pointer-events: auto;
    align-items: center;
}

.contact-form {
    opacity: 0;
    color: white;
    max-width: 100%;
    padding: 1rem;
    width: 20rem;
}

.contact-form * {
    border-radius: 3px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-form h1 {
    color: var(--colorful-lite);
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    margin: 0 auto;
    margin-left: 1rem;
}

.contact-form input {
    color: white;
    outline: none;
    border: thin solid transparent;
    padding: .7rem;
    display: block;
    margin-top: 1rem;
    background-color: var(--medium);
    width: 100%;
    height: 2rem;
}

.contact-form textarea {
    outline: none;
    box-sizing: border-box;
    border: thin solid transparent;
    color: white;
    background-color: var(--medium);
    min-width: 100%;
    width: 100%;
    max-width: 125%;
    min-height: 15vh;
    height: 25vh;
    max-height: 35vh;
    margin: 1rem auto;
    padding: .7rem;
}

.contact-form *::placeholder {
    color: var(--gray);
    opacity: .7;
}

.contact-form button {
    cursor: pointer;
    display: block;
    font-family: 'Dancing Script', cursive;
    color: var(--dark);
    border: 2px solid transparent;
    border-radius: 3px;
    background-color: var(--colorful-lite);
    font-weight: bold;
    letter-spacing: 2px;
    transition: .1s;
    transition-timing-function: ease-in;
    padding: .3rem;
    width: 100px;
    outline: none;
    box-shadow: 0 .3rem .5rem var(--dark);
    text-shadow: 0 .5px .3px var(--dark);
}

.contact-form button.disabled {
    opacity: .3;
    pointer-events: none;
    box-shadow: none;
}

.contact-form button:active {
    transform: scale(.98);
    background-color: var(--colorful-lite);
    border: 2px solid var(--colorful-medium);
    color: var(--medium);
    box-shadow: 0 .3rem .4rem var(--dark);
    text-shadow: 0 .5px .3px var(--dark);
    transition: .1s;
}
  
input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

.contact-form .valid {
    border-color: rgb(0, 156, 0);
}

.contact-form .invalid {
    border-color: rgb(165, 0, 0);
}

.contact-form .message {
    display: block;
    text-align: center;
    min-width: 100%;
    margin: 1rem auto;
    display: none;
}

.contact-info {
    opacity: 0;
    margin-top: 5vw;
    width: 35%;
    align-self: flex-start;
    margin-bottom: 9rem;
}

.contact-info h2 {
    font-size: 1.5rem;
    color: var(--colorful-lite);
}

.contact-info div {
    margin-left: 1rem;
}

.contact-info div * {
    font-size: 1.2rem;
}

.contact-info div a {
    color: var(--colorful-lite);
    text-decoration: underline;
    text-shadow: var(--text-shadow);
}

.contact-info hr {
    visibility: visible;
    border: 0;
    height: 1px;
    background: var(--medium);
    background-image: linear-gradient(to right, var(--medium), var(--gray), var(--medium));
    width: 120%;
    margin-left: -25%;
}

.contact-info div a {
    font-size: 1rem;
    font-family: 'Amita', cursive;
    font-style: italic;
    text-shadow: 0 0 .5rem var(--shadow);
    transition: .1s;
}

.contact-info div a:hover {
    text-shadow: 0 0 .1rem white;
    transition: .5s;
}

@keyframes autofill {
    to {
      color: white;
      background: var(--medium);
    }
  }

@media (max-width: 1100px) {
    .contact-page {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100vw;
        margin: 0;
        max-height: 100vh;
        padding: 0;
        align-items: center;
    }

    .contact-page .stylish-container {
        justify-content: space-between;
    }
    

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: transparent;
        padding: 1rem;
        padding-top: 10%;
        min-height: 100vh;
        box-shadow: none;
        margin: 0 auto;
        opacity: 1;;
    }
    
    .contact-form h1 {
        margin: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    .contact-form input {
        background-color: var(--dark);
        margin-top: 1rem;
    }
    
    .contact-form textArea {
        background-color: var(--dark);
        margin: 1rem auto;
        height: 100%;
        max-height: 100%;
    }

    .contact-form button {
        margin: 0 auto;    
    }

    .contact-form .message {
        display: none;
    }

    .contact-info {
        opacity: 1;
        width: 100%;
        margin: 10vh auto;
    }

    .contact-info div {
        margin: 0;
        margin-bottom: 2rem;
    }

    .contact-info * {
        text-align: center;
        margin: .5rem auto;
    }
    
    .contact-info hr {
        visibility: visible;
        border: 0;
        height: 1px;
        background: var(--medium);
        background-image: linear-gradient(to right, var(--medium), var(--gray), var(--medium));
        margin-left: 0;
        width: 100%;
    }

    @keyframes autofill {
        to {
          color: white;
          background: var(--medium);
        }
    }
}

@media ( hover: hover ) {
    .contact-form button:hover {
        background-color: var(--colorful-bright);
        color: var(--medium);
    }
}

@media (max-height: 400px) {
    .contact-form {
        max-width: 80vw;
        margin: 0 auto;
        padding: .5rem;
    }
    .contact-form h1 {
        font-size: 1.5rem;
    }

    .contact-form input, .contact-form textArea, .contact-form button {
        margin: .2rem auto;
    }

    .contact-form .message {
        display: none;
    }
}

@media (min-width: 1101px) {
    .contact-page.item-enter .contact-form {
        opacity: 1;
        transform: translateX(100vw);
    }

    .contact-page.item-enter-active .contact-form {
        transform: translateX(0);
        transition: var(--timing-fast);
        transition-delay: 1s;
        transition-timing-function: cubic-bezier(0,.88,.43,.99);
    }

    .contact-page.item-enter-done .contact-form {
        opacity: 1;
    }                   

    .contact-page.item-exit .contact-form {
        opacity: 1;
        visibility: visible;
    }

    .contact-page.item-exit-active .contact-form {
        transform: translateX(100vw);
        transition: var(--timing-fast);
        transition-delay: .55s;
    }

    .contact-page.item-enter .contact-info {
        transform: translateX(100vw);
        opacity: 1;
    }

    .contact-page.item-enter-active .contact-info {
        transform: translateX(0);
        transition: var(--timing-fast);
        transition-delay: 1.15s;
        transition-timing-function: cubic-bezier(0,.88,.43,.99);
    }

    .contact-page.item-enter-done .contact-info {
        opacity: 1;
    }

    .contact-page.item-exit .contact-info {
        opacity: 1;
        visibility: visible;
    }

    .contact-page.item-exit-active .contact-info {
        transform: translateX(100vw);
        transition: var(--timing-fast);
        transition-delay: .4s;
    }

    .contact-page.item-appear .contact-form {
        opacity: 1;
        transform: translateX(100vw);
    }

    .contact-page.item-appear-active .contact-form {
        transform: translateX(0);
        transition: var(--timing-fast);
        transition-delay: .2s;
        transition-timing-function: cubic-bezier(0,.88,.43,.99);
    }

    .contact-page.item-appear .contact-info {
        transform: translateX(100vw);
        opacity: 1;
    }

    .contact-page.item-appear-active .contact-info {
        transform: translateX(0);
        transition: var(--timing-fast);
        transition-delay: .35s;
        transition-timing-function: cubic-bezier(0,.88,.43,.99);
    }
}