.email {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    padding-top: 20vh;
    padding-bottom: 30vh; 
  }

.contact-form {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    color: white;
    max-width: 100%;
    /* box-shadow: 3px 3px 7px var(--dark); */
    padding: 1rem;
    width: 20rem;
    /* background-color: var(--dark); */
    margin-bottom: 8vh;
    margin-left: 8vw;
}

.contact-form * {
    border-radius: 3px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif   
}

.contact-form h1 {
    color: var(--colorful-lite);
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    margin: 0 auto;
    margin-left: 1rem;
}

.contact-form input {
    color: white;
    outline: none;
    border: thin solid transparent;
    padding: .7rem;
    display: block;
    margin-top: 1rem;
    /* background-color: var(--medium); */
    background-color: var(--dark);
    width: 100%;
    height: 2rem;
    box-shadow: var(--box-shadow);
}

.contact-form textarea {
    outline: none;
    box-sizing: border-box;
    border: thin solid transparent;
    color: white;
    /* background-color: var(--medium); */
    background-color: var(--dark);
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 15vh;
    height: 25vh;
    max-height: 45vh;
    margin: 1rem auto;
    padding: .7rem;
    /* height: 50vh;
    max-height: 100vh; */
    box-shadow: var(--box-shadow);
}

.contact-form *::placeholder {
    color: var(--gray);
    opacity: .7;
}

.contact-form button {
    display: block;
    font-family: 'Dancing Script', cursive;
    color: var(--dark);
    border: 2px solid transparent;
    border-radius: 3px;
    background-color: var(--colorful-medium);
    font-weight: bold;
    letter-spacing: 2px;
    transition: .2s;
    padding: .3rem;
    width: 100px;
    outline: none;
    box-shadow: 0 .3rem .5rem var(--dark);
    text-shadow: 0 .5px .3px var(--dark);
}

.contact-form button.disabled {
    opacity: .5;
    pointer-events: none;
}

.contact-form button:active {
    transform: scale(.98);
    background-color: var(--colorful-lite);
    border: 2px solid var(--colorful-medium);
    color: var(--medium);
    box-shadow: 0 .3rem .2rem var(--dark);
    text-shadow: 0 .5px .3px var(--dark);

}
  
input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

.contact-form .valid {
    border-color: rgb(0, 156, 0);
}

.contact-form .invalid {
    border-color: rgb(165, 0, 0);
}

.contact-form .message {
    display: block;
    text-align: center;
    /* min-height: 1rem; */
    /* margin-top: .5rem; */
    min-width: 100%;
    margin: 1rem auto;
}

.contact-info {
    margin-top: 5vw;
    margin-left: 8vw;
}

.contact-info h2 {
    font-size: 1.5rem;
    color: var(--colorful-lite);
}

.contact-info div {
    margin-left: 1rem;
}

.contact-info div * {
    font-size: 1.2rem;
}

.contact-info div a {
    color: var(--colorful-lite);
    text-decoration: underline;
    text-shadow: var(--text-shadow);
}

.contact-info hr {
    visibility: visible;
    border: 0;
    height: 1px;
    background: var(--medium);
    background-image: linear-gradient(to right, var(--medium), var(--gray), var(--medium));
    width: 150%;
    margin-left: -25%;
}

.contact-info div a {
    font-size: 1rem;
    /* font-weight: bold; */
    font-family: 'Amita', cursive;
    font-style: italic;
    text-shadow: 0 0 .5rem var(--shadow);
    transition: .1s;
}

.contact-info div a:hover {
    /* color: var(--colorful-bright); */
    text-shadow: 0 0 .1rem white;
    transition: .5s;
}

@keyframes autofill {
    to {
      color: white;
      background: var(--dark);
    }
  }

@media (max-width: 800px) {
    .email {
        width: 100vw;
        margin: 0;
        max-height: 100vh;
        padding: 0;
        align-items: center;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: transparent;
        padding: 1rem;
        padding-top: 10%;
        height: 100vh;
        max-height: 480px;
        box-shadow: none;
        margin: 0 auto;
    }
    
    .contact-form h1 {
        margin: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    .contact-form input {
        background-color: var(--dark);
        margin-top: 1rem;
    }
    
    .contact-form textArea {
        background-color: var(--dark);
        margin: 1rem auto;
        height: 100%;
        max-height: 100%;
    }

    .contact-form button {
        margin: 0 auto;    
    }

    .contact-form .message {
        display: none;
    }

    .contact-info {
        margin: 15vh auto;
        margin-bottom: 10vh;
    }

    .contact-info div {
        margin: 0;
        margin-bottom: 2rem;
    }

    .contact-info * {
        text-align: center;
        margin: .5rem auto;
    }
    
    .contact-info hr {
        visibility: visible;
        border: 0;
        height: 1px;
        background: var(--medium);
        background-image: linear-gradient(to right, var(--medium), var(--gray), var(--medium));
        margin-left: 0;
        width: 100%;
    }

    @keyframes autofill {
        to {
          color: white;
          background: var(--dark);
        }
    }
}

@media ( hover: hover ) {
    .contact-form button:hover {
        background-color: var(--colorful-lite);
        border: 2px solid var(--colorful-medium);
        color: var(--medium);
    }
}

@media (max-height: 400px) {
    .contact-form {
        max-width: 80vw;
        margin: 0 auto;
        padding: .5rem;
    }
    .contact-form h1 {
        font-size: 1.5rem;
    }

    .contact-form input, .contact-form textArea, .contact-form button {
        margin: .2rem auto;
    }

    .contact-form .message {
        display: none;
    }
}