.desktop-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    font-weight: bold;
    width: 10%;
    background-color: #0b0c10d5;
    padding: 0;
    text-align: center;
}

.desktop-nav .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.desktop-nav .main div {
    width: 100%;
}

.desktop-nav a {
    font-size: 1.15rem;
    opacity: .85;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    padding: 1rem 0;
    transition: .2s;
}

.desktop-nav a:hover {
    opacity: 1;
    text-shadow: 0 0 2px white;
}

.desktop-nav .active-link {
    opacity: 1;
    color: var(--colorful-lite);
}

.desktop-nav .home-link {
    margin-top: 50%;
    margin-bottom: 100%;
}

.page-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 100%;
    width: 100%;
}

.desktop-nav .social-media {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 8rem;
}

.desktop-nav .social-media * {
    transition: .3s;
}

.desktop-nav .social-media-links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.desktop-nav .social-media-links .media-link {
    transition-delay: .1s; /* on mouse out */
    transition-duration: .2s;
    opacity: 0;
}

.desktop-nav .social-media-links:hover .media-link {
    transition-delay: .25s;
}

.desktop-nav .social-media-links .media-link {
    padding: 0;
    margin: 1rem auto;
}

.desktop-nav .media-image {
    transform: scale(.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .7;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    width: 45%;
    height: 100%;
    margin: auto;
    transition-duration: .25s;
    transition-delay: .2s;
}

.desktop-nav .social-media-links:hover .media-image {
    transition-delay: 0s; /* on mouse out */
    transition-duration: .25s;
}

.desktop-nav #github-image {
    background-image: url('../SVGs/github.svg');
}

.desktop-nav .social-media-links:nth-child(1):hover #github-link {
    opacity: 1;
}

.desktop-nav .social-media-links:nth-child(1):hover #github-image {
    opacity: 0;
}

.desktop-nav #linkedin-image {
    background-image: url('../SVGs/linkedin.svg');
}

.desktop-nav .social-media-links:nth-child(2):hover #linkedin-link {
    opacity: 1;
}

.desktop-nav .social-media-links:nth-child(2):hover #linkedin-image {
    opacity: 0;
}

.desktop-nav #facebook-image {
    background-image: url('../SVGs/facebook.svg');
}

.desktop-nav .social-media-links:nth-child(3):hover #facebook-link {
    opacity: 1;
}

.desktop-nav .social-media-links:nth-child(3):hover #facebook-image {
    opacity: 0;
}