.content {
    width: 100%;
    height: 100%;
}

img {
    max-width: 200px;
    max-height: 200px;
}

.emails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 10rem;
    margin-top: 10rem;
    max-width: 80%;
}

h1 {
    text-align: left;
}

.projects-page {
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.project {
    cursor: pointer;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 200px;
    width: 20%;
    max-width: 300px;
    background-color: hsl(200, 100%, 20%);
    margin: 2rem;
    box-shadow: 2px 2px 7px hsl(200, 100%, 10%);
}

.contact-form * {
    border: none;
    border-radius: 3px;
    padding: .3rem;
}

.contact-form {
    max-width: 40%;
}

.content form {
    box-sizing: border-box;
    width: 100%;
}

input {
    background-color: hsl(200, 100%, 20%);
    width: 100%;
    height: 20px;
}

textarea {
    color: hsl(200, 100%, 100%);
    background-color: hsl(200, 100%, 20%);
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 15vh;
    height: 25vh;
    max-height: 45vh;
    margin: 1rem auto;
}

*::placeholder {
    color: hsl(200, 10%, 75%);
}


button {
    color: hsl(200, 100%, 100%);
    border: 2px solid transparent;
    border-radius: 3px;
    background: hsl(200, 65%, 50%);
    font-weight: bold;
    letter-spacing: 2px;
    transition: .2s;
}

button:hover {
    background: rgb(192, 238, 255);
    border: 2px solid lightblue;
}

.contact-form button {
    width: 100px;
    float: left;
}

.direct-email {
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.direct-email div {
    box-sizing: border-box;
    text-align: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 80%;
    min-height: 500px;
}

.direct-email-text {
    font-size: 1.5rem;
    color: black;
    text-align: left;
}

.direct-email button {
    margin-top: 10%;
    padding: 1.3rem;
}

.about-me {
    width: 70%;
    margin: 0 auto;
}

.about-me-container {
    margin-top: 5%;
    width: 50%;
}

.about-me-container h2 {
    width: 60%;
}

.about-me-container ul {
    margin: 0;
    padding-left: 1rem;
}

.about-me-container li {
    list-style: none; 
}

.about-me-container p {
    width: 80%;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    /* margin: 5% auto; */
    margin-top: 5%;
}

.home-container * {
    width: 50%;
}

.home-container h1 {
    text-align: center;
    margin: 2rem auto;
}

.home-container p {
    margin: 0 auto;
}

.home-container img {
    border-radius: 50%;
    max-width: 35%;
    max-height: 70vw;
}