.modal {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1f2833aa;
    box-sizing: border-box;
    height: 100%;
    width: 100vw;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
}

.main {
    background-color: var(--colorful-medium);
}

.project-modal .main {
    width: 70%;
    max-height: 100%;
    height: 100vh;
}

.project-modal .main .content {
    justify-content: flex-start;
    height: 96%;
    padding: 1rem;
}

.main .content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.project-modal .content * {
    box-sizing: border-box;
    color: var(--medium);
}

.project-modal .header {
    width: 100%;
    position: relative;
}

.project-modal .header h1 {
    font-size: 2.2rem;
    margin: 0;
    margin-top: 1rem;
    text-shadow: 1px 0px 0px var(--dark);
}

.modal-article {
    margin: 0 auto;
    height: 90%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 1s;
}

.modal-article * {
    text-shadow: 0.5px 0px 0px black;
}

.close-button {
    user-select: none;
    font-family: cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: .15s;
    line-height: 1rem;
    text-align: center;
    clip-path: polygon( 0% 1%, 100% 0%, 99% 99%, 1% 97%); 
}

.close-modal {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 .1rem var(--shadow);
}

.close-button.close-modal:active {
    color: white;
    background-color: white;
    transform: scale(.9);
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    text-align: left;
    margin: 0 auto;
}

.article-content .modal-image {
    cursor: pointer;
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 0;
    width: 80%;
    transition: .2s;
}

.modal-article .date {
    font-size: .9rem;
    text-shadow: none;
    text-align: center;
}

.modal-article p {
    text-align: justify;
    text-indent: 1.5rem;
    margin: 0 auto;
}

.project-modal .article-content .project-links {
    display: inline-flex;
    width: 80%;
    margin: 2rem auto;
}

.project-modal .article-content .project-links a {
    display: block;
    width: 7.5rem;
    margin: 0 auto;
    font-weight: bold;
    text-shadow: 0 0 1px var(--dark);
    border-radius: 10px;
    border: thin solid var(--dark);
    transition: .2s;
    text-align: center;
}


.project-modal .article-content .project-links a:active {
    background-color: var(--medium);
}

.hide-scroll {
    visibility: hidden;
}

.modal-article::-webkit-scrollbar-track {
    background: var(--medium);
}

.modal-article::-webkit-scrollbar-thumb {
    background: var(--colorful-lite);
}

@media (min-width: 1101px) {
    .modal-article {
        scrollbar-color: var(--colorful-bright) var(--lite);
        scrollbar-width: thin;
    }

    .modal-article::-webkit-scrollbar {
        width: 7px;
    }
    
    .modal-article::-webkit-scrollbar-thumb:hover {
        background: var(--colorful-bright); 
    }

    .project-modal .main {
        clip-path: polygon( 0% 1%, 100% 0%, 99% 99%, 1% 97%); 
        padding-right: 1rem;
    }
}

@media (hover: hover) {
    .modal .close-modal:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .project-modal .article-content .project-links a:hover {
        background-color: var(--dark);
        color: var(--gray);
        text-shadow: 0 0 1px var(--gray);
        transition: .4s;
    }

    .modal-article::-webkit-scrollbar-thumb:hover {
        background: var(--colorful-bright);
    }

    .article-content .modal-image:hover {
        transition: .2s;
        transition-delay: .3s;
        box-shadow: 0 .5vh 1vh var(--shadow);
        transform: scale(1.01);
    }
}

@media (max-width: 1100px) {
    .project-modal {
        z-index: 3;
        margin: 0;
    }

    .project-modal .main {
        margin: 0;
        width: 100vw;
        border-radius: 0;
    }

    .project-modal .main .content {
        padding: .6rem;
        height: 97vh;
    }

    .project-modal .main .content header {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .project-modal .main .content header h1 {
        line-height: 1.5rem;
        width: 90%;
        margin: 0;
        font-size: 1.5rem;
        text-align: left;
    }

    .project-modal .main .content header .close-modal {
        position: static;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: -.5rem;
    }

    .modal-article {
        margin: 1rem auto;
    }

    .project-modal .main .content .article-content {
        margin: 0 auto;
        width: 96%;
    }

    .project-modal .main .content .article-content img {
        margin: 0 auto;
    }

    .project-modal .article-content .project-links {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        justify-content: flex-start;
        align-items: center;
        height: 6vh;
        z-index: 4;
        padding: 0;
        background-color: var(--colorful-medium);
    }

    .project-modal .article-content .project-links a {
        font-family: 'Amita', cursive;
        padding: .1rem .3rem;
        box-shadow: none;
        margin: 0 .5rem;
    }
    
    .project-modal .article-content .description {
        margin-bottom: 1rem;
    }

    .hide-scroll {
        visibility: visible;
        box-sizing: border-box;
        position: fixed;
        right: 5px;
        height: 100%;
        width: 10px;
        background-color: var(--colorful-medium);
        z-index: 3;
        opacity: 0;
        transition: .5s;
    }
    
    .modal-article.inactive .hide-scroll {
        opacity: 1;
    }    

    .modal-article::-webkit-scrollbar {
        width: 5px;
    }
}

@media (max-height: 400px) {
    .project-modal .modal-image {
        margin: 0 auto;
        height: 50%; 
        width: 50%;
    }
}