.project-modal {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #66fcf110;
    box-sizing: border-box;
}

.modal-content {
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    height: 99.8%;
    max-height: 100vh;
    padding: 1rem;
    background-color: var(--colorful-dark);
    box-shadow: 3px 3px 15px hsl(201, 100%, 5%);
}

.modal-content * {
    color: var(--lite);
    box-sizing: border-box;
}

.modal-header {
    position: relative;
}

.modal-header h1 {
    font-size: 2.2rem;
    /* margin: 1rem; */
    text-shadow: 1px 0px 0px var(--dark);
}

.modal-article {
    margin: 1rem auto;
    max-height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

.modal-article * {
    text-shadow: 0.5px 0px 0px black;
    /* font-weight: bold; */
}

.article-content {
    margin: 0 auto;
    width: 60%;
    text-align: left;
}

.article-content img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.modal-article .date {
    font-size: .9rem;
    text-shadow: none;
}

.close-modal {
    position: absolute;
    top: 0;
    right: -0.4rem;
    width: 1rem;
    padding: .3rem;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-article p {
    text-align: justify;
    text-indent: 1.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-links a {
    justify-self: flex-end;
    padding: 0;
    padding-top: .3rem;
    font-weight: bold;
    color: rgb(219, 219, 219);
    text-shadow: 1px 1px 1.5px var(--dark);
}

.project-links a:hover {
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--lite);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--colorful-lite);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--colorful-bright); 
}