.image-modal {
    opacity: 0;
    z-index: 10;
    width: 100vw;
    transition: opacity .5s;
    background-color: rgba(0, 0, 0, 0.6);
}

.image-modal.active {
    visibility: visible;
    opacity: 1;
    transition: opacity .6s, height .1s, width .1s;
}

.image-modal .image-container {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    transition: .2s;
    transition-timing-function: ease-in;
}

.image-modal .image-container img {
    user-select: none;
    height: 100%;
    background: black;
    box-shadow: 0 0 2vh black;
    /* border: 2px solid black; */
    border-radius: 5px;
}

.modal.image-modal .close-image {
    align-self: flex-start;
    position: relative;
    top: -3rem;
    right: 0;
    color: white;
    text-shadow: 0 0 .1rem black;
    background: rgba(255, 255, 255);
    color: var(--gray);
    transition: .2s;
    opacity: .8;
}

.image-modal .close-image:active {
    background: rgba(255, 255, 255);
    color: white;
    transform: scale(.9);
}

@media (hover: hover) {
    .modal.image-modal .close-image:hover {
        color: var(--lite);
        text-shadow: 0 0 .1rem var(--shadow);
        opacity: 1;
        transition: .2s;
    }
}

@media (max-width: 800px) {
    .article-content .image-modal {
        user-select: none;
        transition: opacity .2s;
    }

    .article-content .image-modal.active {
        transition: opacity 1s;
    }

    .image-modal .image-container {
        width: 100%;
        height: auto;
    }

    .image-modal .image-container img{
        border-radius: 0;
        width: 95%;
        /* height: auto; */
    }

    .image-modal .close-image {
        display: none;
    }
}


@media (max-height: 400px) {
    .modal-article .article-content img {
        text-align: center;
        max-width: 25vw;
    }

    .image-modal .image-container img{
        max-width: 100%;
    }
}