.modal.image-modal {
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    width: 100vw;
    transition: opacity, .5s;
    transition-delay: .3s;
    background-color: rgba(0, 0, 0, 0.65);
}

.modal.image-modal.active {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;
}

.image-modal .image-container {
    opacity: 0;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    transition: .2s;
    transition-timing-function: ease-in;
}

.image-modal.active .image-container {
    opacity: 1;
    transition: .5s;
    transition-delay: .7s;
}

.image-modal .image-container img {
    user-select: none;
    height: 100%;
    background: black;

}

.modal.image-modal .close-image {
    align-self: flex-start;
    position: relative;
    top: 0;
    right: 2vw;
    color: white;
    text-shadow: 0 0 .1rem black;
    background: rgba(0, 0, 0, 0.5);
    color: var(--gray);
    transition: .2s;
    opacity: .8;
}

.image-modal .close-image:active {
    background: rgba(255, 255, 255);
    color: white;
    transform: scale(.95);
}

@media (hover: hover) {
    .modal.image-modal .close-image:hover {
        background-color: var(--gray);
        color: var(--lite);
        text-shadow: 0 0 .1rem var(--shadow);
        opacity: 1;
        transition: .2s;
    }
}

@media (max-width: 1100px) {
    .article-content .image-modal {
        user-select: none;
    }

    .image-modal .image-container {
        width: 100%;
        height: auto;
    }

    .image-modal .image-container img{
        width: 95%;
    }

    .image-modal .close-image {
        display: none;
    }
}


@media (max-height: 450px) {
    .image-modal .image-container img{
        max-width: 100%;
    }
}