.desktop-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    left: 0;
    height: 100vh;
    font-weight: bold;
    width: 12vw;
    background-color: var(--dark);
    text-align: center;
    transition: transform .1s;
    clip-path: polygon(0% 3%, 70% 0%, 100% 100%, 0% 100%); /* top-left, top-right, bottom-right, bottom-left */
    z-index: 2;
    user-select: none;
}

.desktop-nav button {
    visibility: hidden;
}

.desktop-nav .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    margin-left: .7vw;
    width: 8vw;
}

.desktop-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    font-family: 'Amita';
    font-weight: normal;
    font-size: .9vw;
    opacity: .6;
    color: var(--lite);
    text-decoration: none;
    margin: 2.5vh 0;
    transition: .2s;
    transition-property: color, opacity;
    line-height: 1vh;
    outline: none;
}

.desktop-nav .links a:nth-of-type(1) {
    margin-top: 30vh;
}

.desktop-nav .active-link {
    transition: opacity .2s;
    opacity: 1;
    color: var(--colorful-lite);
    text-shadow: 1px 1px 1px var(--colorful-shadow);
}

.desktop-nav a.logo {
    opacity: 1;
    background: none;
    position: absolute;
    left: -14%;
    top: 2%;
    width: 12vw;
    height: 10vw;
    margin: 0;
}

.desktop-nav a.logo div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-family: 'Italianno';
    clip-path: polygon( 0% 60%, 100% 12%, 100% 28%, 0% 92%);  
    /* top-left, top-right, bottom-right, bottom-left */
    background-image: linear-gradient(to right, #d0e9e957 0%, #d0e9e957 100%);
    background-repeat: no-repeat;
    background-size: 12vw;
    background-position: -12vw;
    transform: rotate(15deg);
    animation: logo-shimmer 10s linear 0s infinite;
    animation-delay: 2s;
}

@keyframes logo-shimmer {
    0% { background-position: -12vw 0; }
    100% { background-position: 20vw 0; }
}

.desktop-nav a.logo div span {
    font-size: 1.1vw;
    color: var(--colorful-bright);
    text-shadow: none;
    transform: rotate(-24deg);
    text-shadow: 2px 2px 2px var(--colorful-shadow);
    margin-top: -1.1vh;
}

.desktop-nav .social-media {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: 1vw;
    height: 50vh;
    margin-bottom: 5vh;
    width: 8vw;
}

.desktop-nav .social-media a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 3vw;
    height: 3vw;
    color: transparent;
    font-size: .9vw;
    opacity: .3;
    transition: .2s;
    transition-property: opacity, color;
    transition-delay: 0s;
    cursor: pointer;
    margin: 1vh 0;
}

.desktop-nav .social-media a:after {
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: opacity .2s;
    transition-delay: .2s;
    z-index: -1;
    clip-path: polygon( 0% 5%, 100% 0%, 98% 100%, 5% 98%); /* top-left, top-right, bottom-right, bottom-left */
}

.desktop-nav #github-image:after {
    background-image: url('../SVGs/github.svg');
}

.desktop-nav #linkedin-image:after {
    background-image: url('../SVGs/linkedin.svg');
}

.desktop-nav #twitter-image:after {
    background-image: url('../SVGs/twitter.svg');
}

@media (hover: hover) {
    .desktop-nav a:hover, a:focus {
        color: var(--gray);
    }

    .desktop-nav a:focus {
        transition: 0s;
    }

    .desktop-nav a.active-link:hover, a.active-link:focus {
        color: var(--colorful-lite);
    }

    .desktop-nav a.active-link:hover {
        transition: 0s;
    }

    .desktop-nav .social-media a:hover, .desktop-nav .social-media a:focus {
        opacity: 1;
        color: var(--gray);
        transition: .5s;
        transition-property: opacity, color, text-shadow;
        transition-delay: .2s;
    }

    .desktop-nav .social-media a:hover:after, .desktop-nav .social-media a:focus:after {
        opacity: .1;
        transition-delay: 0s;
    }
}