.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    font-weight: bold;
    width: 10%;
    background-color: #0b0c10d5;
    padding: 0;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.links div {
    width: 100%;
}



.nav-bar a {
    font-size: 1.15rem;
    opacity: .85;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    padding: 1rem 0;
    transition: .2s;
}

.nav-bar a:hover {
    opacity: 1;
    text-shadow: 0 0 2px white;
}

.home-link {
    margin-top: 50%;
    margin-bottom: 100%;
}

.page-links {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 100%;
    width: 100%;
}

.nav-bar .active-link {
    opacity: 1;
    color: var(--colorful-lite);
}