.projects-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* overflow-x: hidden; */
}

.projects {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* display: grid;
    flex: 1;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 27.5rem);
    grid-template-rows: repeat(auto-fill, 16rem); */
    /* width: 70vw; */
    /* margin-top: 10vh; */
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    width: 18rem;
    min-width: 200px;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    user-select: none;
    min-width: 26rem;
    min-height: 15rem;
    width: 26rem;
    height: 15rem;
    transition: 1s;
    box-shadow: var(--box-shadow);
    margin: 1rem;
}

.project:after {
    opacity: .7;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    transition: 1s;
}

.project:nth-of-type(1):after {
    background-image: url('../images/theVerge-top-stories.jpg');
}

.project:nth-of-type(2):after {
    background-image: url('../images/react-game-thumbnail.jpg');
}

.project:nth-of-type(3):after {
    background-image: url('../images/html5-drawing-app.jpg');
}

.project:nth-of-type(4):after {
    background-image: url('../images/video-player.jpg');
}

.project:nth-of-type(5):after {
    background-image: url('../images/3rd-strike-app.jpg');
}

.project:nth-of-type(6):after {
    background-image: url('../images/3rd-strike-extension.jpg');
}

.project:nth-of-type(7):after {
    background-image: url('../images/3rd-strike-extension.jpg');
}

.project h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Dancing Script', cursive;
    color: var(--colorful-lite);
    font-size: 1.5rem;
    text-align: center;
    text-shadow: .3rem .3rem .3rem var(--shadow);
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: .8rem 0;
    transition: .2s;
}

  .project .click-message {
      font-weight: bold;
      font-size: 1rem;
      color: white;
      opacity: 0;
      z-index: 1;
      transition: .2s;
      font-style: italic;
      mix-blend-mode: difference;

  }

.center-focus {
    display: none;
}

@media (hover: hover) and (min-width: 800px) {
    .project:hover:after {
        opacity: 1;
    }

    .project:hover .click-message {
        opacity: 1;
        transition: 2s;
        transition-delay: .5s;
    }

    .project:hover h1 {
        text-shadow: 0 0 .1rem var(--shadow);
        text-shadow: 0 0 .15rem black;
        background-color: #00000088;
        transition-property: text-shadow, background-color;
        transition-timing-function: linear, ease-out;
        transition-duration: 1s, 2s;
        transition-delay: 0s, .5s;
    }
}

@media (max-width: 800px) {
    .projects-page {
        margin: 0;
        min-height: 100%;
        height: 100%;
        width: 100vw;
        overflow-y: scroll;
        scroll-snap-type: y proximity;
        scroll-padding: 20%;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .projects {
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        width: 100%;
    }
    
    .project {
        justify-content: flex-end;
        opacity: 1;
        scroll-snap-align: center;
        margin: 1rem auto;
        padding: 0;
        border: none;
        /* box-shadow: none; */
        background-color: var(--medium);
        text-align: center;
        cursor: pointer;
        user-select: none;
        width: 90vw;
        min-width: 90vw;
        height: calc(90vw * .58);
        min-height: calc(90vw * .58);
        transition: 1s;
    }
    
    .project:after {
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        transition: 1s;
    }

    .project:nth-child(1) {
        margin-top: 20vh;
    }

    .project:nth-last-child(2) {
        margin-bottom: 20vh;
    }

    .project h1 {
        position: relative;
        /* font-size: 1.5rem; */
        /* margin: 1rem auto; */
        /* margin-top: 1rem; */
        text-shadow: .1rem .1rem .2rem var(--shadow);
        padding: 0;
    }

    .project .click-message {
        display: none;
    }

    .center-focus {
        display: block;
        position: fixed;
        top: -5vh;
        left: 0;
        width: 100%;
        height: 110vh;
        background: linear-gradient(0deg, var(--dark) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, var(--dark) 100%);
        pointer-events:none;
        z-index: 2;
    }
}

@media (max-height: 400px)  {
    .project:nth-child(1) {
        margin: 3rem;
    }

    .center-focus {
        display: none;
    }
}