.project-modal {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1f2833aa;
    box-sizing: border-box;
    height: 100%;
    width: 100vw;
    z-index: 4;
    visibility: hidden;
}

.modal-main {
    /* box-sizing: border-box; */
    border-radius: 10px;
    /* position: fixed; */
    /* top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; */
    width: 70%;
    max-height: 100%;
    background-color: var(--colorful-medium);
    box-shadow: 3px 3px 15px hsl(201, 100%, 5%);
}

.modal-content {
    /* box-sizing: border-box; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 96%;
    padding: 1rem;
}

.modal-content * {
    color: var(--medium);
    box-sizing: border-box;
}

.modal-header {
    position: relative;
}

.modal-header h1 {
    font-size: 2.2rem;
    margin: 0;
    margin-top: 1rem;
    text-shadow: 1px 0px 0px var(--dark);
}

.modal-article {
    margin: 0 auto;
    height: 90%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 1s;
}

.modal-article * {
    text-shadow: 0.5px 0px 0px black;
}

.close-button {
    user-select: none;
    border-radius: 50%;
    font-family: cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .35rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: .15s;
    line-height: 1rem;
    text-align: center;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 .1rem var(--shadow);
}

.close-modal:active {
    background-color: white;
    transform: scale(.9);
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    text-align: left;
    margin: 0 auto;
    /* max-height: 100%; */
}
.article-content .modal-image {
    cursor: pointer;
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 0;
    width: 80%;
    transition: .2s;
    box-shadow: 0 0 .1vw var(--shadow);
    border-radius: 5px;
    /* box-shadow: 0 .2vh .5vh var(--shadow); */
}

.article-content .modal-image:hover {
    transition: .5s;
    /* transform: scale(1.05); */
    /* margin-bottom: 1rem; */
    box-shadow: 0 0 1.3vh var(--shadow);
}

.modal-article .date {
    font-size: .9rem;
    text-shadow: none;
    text-align: center;
}

.modal-article p {
    text-align: justify;
    text-indent: 1.5rem;
    margin: 0 auto;
}

.project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
}

.project-links a {
    font-family: 'Amita', cursive;
    font-size: .8rem;
    margin: 0 1rem;
    padding: .2rem .5rem;
    font-weight: bold;
    border-radius: 6px;
    transition: .1s;
    background-color: var(--medium);
    color: var(--gray);
    box-shadow: 0 .1rem .3rem var(--shadow);
    text-shadow: none;
}

.project-links a:active {
    transition: .2s;
    transition-delay: 0;
    box-shadow:  0 .06rem .25rem var(--shadow);
    transform: scale(.95);
    color: var(--dark);
    background-color: var(--gray);
    text-shadow: 0 0 1px var(--dark);
}

.hide-scroll {
    visibility: hidden;
}

.modal-article::-webkit-scrollbar {
    width: 7px;
}

.modal-article::-webkit-scrollbar-track {
    background: var(--lite);
    border-radius: 5px;
}

.modal-article::-webkit-scrollbar-thumb {
    background: var(--colorful-lite);
    border-radius: 5px;
}

.modal-article::-webkit-scrollbar-thumb:hover {
    background: var(--colorful-bright); 
}

@media (hover: hover) {
    .close-modal:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .project-links a:hover {
        color: white;
        background-color: var(--lite);
        text-shadow: 0 0 1px var(--dark);
        box-shadow:  0 .06rem .25rem var(--shadow);
        transition: .8s;
        /* transition-delay: .2s; */
    }
}

@media (max-width: 800px) {
    .project-modal {
        z-index: 3;
        margin: 0;
    }

    .modal-main {
        margin: 0;
        width: 100vw;
        border-radius: 0;
    }

    .modal-content {
        padding: .6rem;
    }

    .modal-content header {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .modal-content header h1 {
        line-height: 1.5rem;
        width: 90%;
        margin: 0;
        font-size: 1.5rem;
        text-align: left;
    }

    .modal-content header .close-modal {
        position: static;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: -.5rem;
    }

    .modal-article {
        margin: 1rem auto;
        margin-bottom: 2rem;
        /* width: 100%; */
        /* height: 100%; */
        /* max-height: 100%; */
    }

    .modal-content .article-content {
        margin: 0 auto;
        width: 96%;
        /* max-height: 80vh; */
    }

    .modal-content .article-content img {
        margin: 0 auto;
    }

    .project-links {
        position: fixed;
        bottom: 0;
        left: 0;
        /* right: 0; */
        width: 100%;
        margin: 0;
        justify-content: flex-start;
        align-items: center;
        height: 2rem;
        z-index: 4;
        padding: 0;
        /* background-color: var(--colorful-medium); */
    }

    .project-links a {
        font-family: 'Amita', cursive;
        padding: .1rem .3rem;
        box-shadow: none;
        margin: 0 .5rem;
    }

    .hide-scroll {
        visibility: visible;
        box-sizing: border-box;
        position: fixed;
        right: 5px;
        height: 100%;
        width: 10px;
        opacity: 1;
        background-color: var(--colorful-medium);
        z-index: 3;
        opacity: 0;
        transition: .5s;
    }
    
    .modal-article.inactive .hide-scroll {
        opacity: 1;
    }    

    .modal-article::-webkit-scrollbar {
        width: 5px;
    }
}