.moving-objects {
    position: absolute;
    width: 100%;
    height: 100%;
}

.skill {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .3;
  }
  
  .skill.inactive {
    display: none;
  }
  
  .react {
    animation: react-logo-spin infinite 20s linear;
    height: 40vmin;
    border-radius: 50%;
  }
  
  @keyframes react-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
