@font-face {
    font-family: 'Amita';
	src: url('../fonts/Amita-Regular.ttf') format('truetype'),
         url('../fonts/Amita-Bold.tff') format('truetype');
    font-display: block;
}

@font-face {
    font-family: 'Dancing Script';
	src: url('../fonts/DancingScript-Regular.ttf') format('truetype'),
         url('../fonts/DancingScript-Bold.tff') format('truetype');
    font-display: block;
}

body {
    font-family: 'Amita', cursive;
    background-color: #1f2833;
}

#no-script {
    color: #c5c6c7;
    margin: 0 auto;
    margin-top: 20vh;
    width: 50%;
}

#no-script a {
    color: #84e6ff;
}

#no-script a:nth-child(1) {
    text-decoration: none;
}

#no-script a:nth-child(2) {
    font-style: italic;
}

#no-script p:nth-last-child(1) {
    font-style: italic;
}

@media (max-width: 1100px) {
    #no-script {
        text-align: center;
        margin-top: 10vh;
        width: 90%;
    }
}