:root {
  --lite: #1f2833;
  --dark: #0b0c10;
  --gray: #c5c6c7;
  --colorful-lite: #66fcf1;
  --colorful-dark: #45a29e;
}

body {
  background-color: var(--lite);
  margin: 0;
  overflow: hidden;
}

.app {
  display: flex;
  box-sizing: border-box;
  /* background-color: hsl(200, 100%, 15%); */
  background-color: var(--lite);
  height: 100vh;
  max-height: 100vh;
  border: 2px solid black;
  margin: 0 auto;
}