:root {
  --lite: #1f2833;
  --dark: #0b0c10;
  --gray: #c5c6c7;
  --colorful-lite: #66fcf1;
  --colorful-dark: #45a29e;
  --colorful-bright: #98fff8;
}

html, body {
  margin: 0;
  height: 200%;
}


body {
  font-family: 'Amita', cursive;
  font-size: 16px;
  letter-spacing: .2px;
  line-height: 1.5rem;
  background-color: var(--lite);
}

h1, h2, a {
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
}

.app {
  display: flex;
  box-sizing: border-box;
  background-color: var(--lite);
  margin: 0 auto;
}

* {
  color: var(--gray);
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  pointer-events:none;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
  pointer-events:none;
}

.page {
  position: absolute;
  top: 0;
  left: 10%;
}

@media only screen and (max-width: 700px) {
  .page {
      margin: 0;
      left: 0;
  }
}