:root {
  --dark: #0b0c10;
  --medium: #1f2833;
  --lite: #475258;
  --shadow: #05070c;
  --gray: #c5c6c7;
  --colorful-dark: #296777;
  --colorful-medium: #55a0b3;
  --colorful-lite: #84e6ff;
  --colorful-bright: #9bebff;
  --mobile-break-point: 700px;
  --text-shadow: 0 1vh 1vh var(--shadow);
  --box-shadow: var(--text-shadow);
}

html, body {
  margin: 0;
}

body {
  font-family: 'Amita', cursive;
  font-size: 16px;
  letter-spacing: .2px;
  line-height: 1.5rem;
  background-color: var(--medium);
  /* background-image: linear-gradient(90deg, var(--dark) 0vw, var(--dark) 10vw, var(--medium) 50vw, var(--dark) 100vw); */

  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1, h2, a {
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
}

h1 {
  line-height: 2.5rem;
  text-shadow: var(--text-shadow);
}

h2 {
  line-height: 2rem;
  text-shadow: var(--text-shadow);
}

p, strong, li {
  text-shadow: var(--text-shadow);
}

.app {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  box-sizing: border-box;
  /* background-color: var(--medium); */
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(90deg, var(--dark) 0vw, var(--dark) 10vw, var(--medium) 50vw, var(--dark) 100vw); */
}

* {
  color: var(--gray);
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  pointer-events:none;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
  pointer-events:none;
}

.page {
  position: absolute;
  top: 0;
  left: 8vw;
  width: 90vw;
}

@media (max-width: 800px) {
  .page {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100vw;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
}

@media (min-width: 801px) {
  ::-webkit-scrollbar-track {
    background: var(--medium);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--colorful-lite);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--colorful-bright); 
  }
}